In [1]:
import os
os.getcwd()

'/workspace/userdisk/customer_segmentation/customer_segmentation'

In [6]:
import pandas as pd 
user_data = pd.read_csv('../user_data.csv')

In [7]:
user_data.head()

,CustomerID,purchase_cnt,item_cnt,recency,user_total,user_average,unique_products,average_interval,total_transactions,cancel_frequency,cancel_rate
0,16454,1,2,64,5.9,5.9,1,0.0,1,0,0.0
1,14576,1,12,372,35.4,35.4,1,0.0,1,0,0.0
2,16148,1,72,296,76.3,76.3,1,0.0,1,0,0.0
3,13841,1,100,252,85.0,85.0,1,0.0,1,0,0.0
4,13302,1,5,155,63.8,63.8,1,0.0,1,0,0.0